.about-container{
    padding:25px;
    color: black;
  }
  .about-container p{
    font-size: 2.2rem;
    line-height: 2.0;
  
  }
  .teams h3{
   font-size: 2.0rem; 
   color: black;
  }
  .teams h5{
   font-size: 1.5rem; 
   color: black;
  }
  .teams{
    display: flex;
    flex-wrap: wrap;
  }
  .executives h2{
    color: black;
    padding-left: 15px;
  }
  
  .team img{
    width: 170px;
    height: 200px;
    padding: 15px;
    border-radius: 10px;
  }
  
  .benefits{
    padding-left: 50px;
  }
  
  .about{
    color: black;
  }