.hero {
  .flex-special(); 
  width: 100%;
  height: 80vh;
 
  text-align: center;
  color: white;

  background-image: url("../img/droom1.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero h1 {
  font-size: 5em;
  font-weight: bolder;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.hero .btn {
 
  display: block;
  width: 200px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  border: 3px solid white;
 .btn-special();
}
//feature section
.features .feature img {
width: 100%;
height: auto;
}


.features {
.flex-special();
justify-content: space-around;
max-width: 100%;
margin: auto;
text-align: center;
padding: 60px, 30px;
max-width: 1200px;
flex-wrap: wrap;
@media @tablet{
max-width: 100%;
flex-wrap: nowrap;
}
}


.features .feature {
.flex-special();
flex: 1 1 500px;
flex-direction: column;
padding: 20px;
margin: 5px;
}
.featute h3, p{
  margin-top: 10px;
}




