
// hero image section

.hero-image {

  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/droom1.png");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 10px;
  }
  
  .btn-class{
    font-size: 1.6rem;
    background-color: #5680E9;
    color:  white;
    border-radius: 10px;
    border-style: none;
    padding: 10px;
  }
  
  .hero-text button:hover{
    background-color: #C1C8E4;
    color: black;
  }
  
  
    
    //benefit section
    
    .benefits{
      color: black;
      display: flex;
      flex-direction: column;
      background-color: #d3d3d3;
      padding: 15px;
     
       @media @desktop{
        flex-direction: row;
        justify-content: space-around;
       }
     }
     
     .benefit{
      padding: 15px;
      font-size: 1.6rem;
      line-height: 1.5;
      
       @media @desktop{
    
         padding:35px 0;
        
           li{
           line-height: 1.5;
           font-size: 2.2rem;
           padding: 15px;
           }
          }
        }
    
    