// cta button

.btn-class{
    font-size: @btnfontsize;
    background-color: @blue;
    color:  white;
    border-radius: 5px;
    border-style: none;
    padding: 10px;
  
         &:hover{
    background-color: darken(@blue, 30%);
    color: black;
     }
    }
  
  
  //social button
  .fa-facebook {
    background: white;
    color: black;
  }
  
  .fa-twitter {
   .fa-facebook();
  }
  
  .fa-linkedin {
    .fa-facebook();
  }